#JavaNote {
    font-family:"Microsoft Yahei", sans-serif;
    font-family:Arial, sans-serif;
    background-color:#222;
    color:#FFF;      
    h1, h2, h3, h4, h5, h6 {
        font-family:Georgia, serif;
        font-family:"SimSun", serif;
        color:#FFF;
    }
    h1, h2 {
        font-weight:bolder;
    }
    body {
        margin:0;
        padding:2em;
    }
    article {
        padding:10px;
        margin:10px;
    }
    section {
        display:flex
    }      
    blockquote {
        background-color:#444;
        color:#e2e2e2;
        font-size:18px;
        font-family:"kaiti", serif;
        // margin:8px;
        // margin-left:10%;
        // margin-right:10%;
        padding:16px;
        line-height:20px;
        border:0;
        // border-radius:10px;
    }
    blockquote>ol {
        margin:0;
    }
    blockquote b {
        font-weight:thin;
    }
    .definition {
        color:#6699CC;
    }
}